@import "tailwindcss";

@font-face {
  font-family: 'Proxon';
  src: url('../src/assets/fonts/proxon.ttf');
  /* font-weight: 200 700; */
}

@font-face {
  font-family: 'VTF Justina GEO';
  src: url('../src/assets/fonts/VTFJustinaGEO-Bold.otf');
  /* font-weight: 700; */
  
}
@font-face {
  font-family: 'VTF Justina GEO';
  src: url('../src/assets/fonts/VTFJustinaGEO-Regular.otf');
  /* font-weight: 700; */
  
}
@theme{
    --font-proxon: Proxon, 'sans-serif';
    --font-vtfjustinageo : VTF Justina GEO, 'sans-serif';
    --font-VTFJustinaGeoRegular: VTF Justina GEO, 'sans-serif';

}

/* Moves an element from right to left. */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }